
  <div class="container-fluid bg-1 text-center">
    <h1 class="mat-display-1" style="font-weight: 900; color: white">Franco Rodrigo Disconsi</h1>
    <br>
    <img src="./assets/imagenes/quiensoy.jpeg" class="img-circle" style="display:inline" alt="Bird" width="350" height="450">
  </div>
  
  <div  class="text-center cont">
    <h1 class="mat-display-0" style="font-weight: 900; color: white">Soy un Alumno de UTN FRA</h1>
    <p class="mat-display-0" style="font-weight: 900; color: white">TP Sala de Juegos</p>
    <p class="mat-display-0" style="font-weight: 900; color: white">
      Actualmente estoy cursando el último año para la Tecnicatura Superior en Programación y estoy trabajando como Desarrollador.
    </p>
    <h1 class="mat-display-1" style="font-weight: 900; color: white">Snake</h1>
    <p class="mat-display-0" style="font-weight: 900; color: white">
       Mi Juego es el Snake. En él cuál hay que comer la mayor cantidad de frutas posibles intetando no chocar con las paredes o con uno mismo...
    </p>
  </div>
