<div class="main-container">
    <h1 class="mat-display-2" style="font-weight: 900; text-align: center; margin: 15px 0; color: white">Ta-Te-Ti</h1>
    <div class="field">
        <p class="mat-display-1" style="color:white">Presione el botón para comenzar</p>
    </div>

    <div class="field" style="width: 100%;">
        <button mat-raised-button color="accent" class="start-game-button">Comenzar</button>
    </div>

    <div class="gameboard">
        
        <div class=""></div>

        <div class="gamefield container-fluid">
            <div class="row">
                <div class="subfield col-4"></div>
                <div class="subfield col-4"></div>
                <div class="subfield col-4"></div>
            </div>
            <div class="row">
                <div class="subfield col-4"></div>
                <div class="subfield col-4"></div>
                <div class="subfield col-4"></div>
            </div>
            <div class="row">
                <div class="subfield col-4"></div>
                <div class="subfield col-4"></div>
                <div class="subfield col-4"></div>
            </div>
        </div>

        <div class=""></div>

    </div>
</div>
