.main-container{
    background: linear-gradient(to right, #232526, #414345);
    margin-top: -20px;
}

h1{
    padding-top: 10px;
}

/* .field{
    display: flex;
    justify-content: center;
} */

mat-grid-list{
    width: 40%;
    padding-bottom: 0 !important;
}

.col1{
    /* border-right: 2px solid white; */
    border-bottom: 2px solid white;
}

.col2{
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.col7{
    /* border-right: 2px solid white; */
    border-top: 2px solid white;
    /* border-bottom: 2px solid white; */
}

.col5{
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.col6{
    /* border-left: 2px solid white; */
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.col4{
    /* border-right: 2px solid white; */
    border-top: 2px solid white;
}

.col8{
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid white;
}

.col9{
    /* border-left: 2px solid white; */
    border-top: 2px solid white;
}

.col3{
    border-bottom: 2px solid white;
}

.circulo {
    background-image: url("../../../assets/imagenes/circulo.png");
    background-size: 240px 170px;
    background-repeat: no-repeat;
}

.cruz {
    background-image: url("../../../assets/imagenes/cruz.png");
    background-size: 240px 170px;
    background-repeat: no-repeat;
}
