.example-spacer {
    flex: 1 1 auto;
  }

  span{
      margin-left: 1vh;
  }

  a:hover {
    color: white !important;
    text-decoration: unset;
}


span{
    cursor: pointer;
}

mat-sidenav{
    width: 30vh;
    background-color: #3f51b5;
}

h2{
    color: white;
    text-align: center;
    padding-top: 2vh;
}

label{
    color: white;
    text-align: center;
    padding-top: 1vh;
    cursor: pointer;
}

mat-icon{
    color: white;
}

.mat-icon-button{
    border: none !important;
}


.who{
    color: white;
    margin-top: 130vh;
}

.btn-who{
    color: white;
    font-size: large;
}

.img-who{
    width: 32%;
    height: 20%;
}

.mat-sidenav-content{
    background: linear-gradient(to right, #232526, #414345);
}