  <mat-grid-list cols="3" rowHeight="3:2" gutterSize="5vh">
    <mat-grid-tile [style.border]="'3px inset'" [style.borderRadius]="'16px'">
  
      <img class="imagen" src="../../../assets/imagenes/adivina.png">
  
      <mat-grid-tile-header [style.background]="'white'">
        <h1 class="mat-display-0" style="font-weight: 900; text-align: center; color: white">ADIVINA EL NÚMERO</h1>
      </mat-grid-tile-header>
  
      <mat-grid-tile-footer [style.background]="'white'">
        <button color="accent"(click)="Juego('Adivina')" routerLinkActive="router-link-active"  class="btn-jugar" mat-raised-button>JUGAR</button>
      </mat-grid-tile-footer>
  
    </mat-grid-tile>
    <mat-grid-tile [style.border]="'3px inset'" [style.borderRadius]="'16px'">
  
      <img class="imagen" src="../../../assets/imagenes/cerebro.jpg">
  
      <mat-grid-tile-header [style.background]="'white'">
        <h1 class="mat-display-0" style="font-weight: 900; text-align: center; color: white">JUEGO DE AGILIDAD MENTAL</h1>
      </mat-grid-tile-header>
  
      <mat-grid-tile-footer [style.background]="'white'">
        <button color="accent"(click)="Juego('Agilidad')" class="btn-jugar" mat-raised-button>JUGAR</button>
      </mat-grid-tile-footer>
  
    </mat-grid-tile>
    <mat-grid-tile [style.border]="'3px inset'" [style.borderRadius]="'16px'">
  
      <img class="imagen" src="../../../assets/imagenes/ppt.jpg">
  
      <mat-grid-tile-header [style.background]="'white'">
        <h1 class="mat-display-0" style="font-weight: 900; text-align: center; color: white">PIEDRA PAPEL O TIJERA</h1>
      </mat-grid-tile-header>
      <mat-grid-tile-footer [style.background]="'white'">
        <button color="accent"(click)="Juego('PiedraPapelTijera')" class="btn-jugar" mat-raised-button>JUGAR</button>
      </mat-grid-tile-footer>
  
    </mat-grid-tile>
    <mat-grid-tile [style.border]="'3px inset'" [style.borderRadius]="'16px'">
  
      <img class="imagen" src="../../../assets/imagenes/anagrama.jpg">
  
      <mat-grid-tile-header [style.background]="'white'">
        <h1 class="mat-display-0" style="font-weight: 900; text-align: center; color: white">ANAGRAMA</h1>
      </mat-grid-tile-header>
  
      <mat-grid-tile-footer [style.background]="'white'">
        <button color="accent"(click)="Juego('Anagrama')" class="btn-jugar" mat-raised-button>JUGAR</button>
      </mat-grid-tile-footer>
  
    </mat-grid-tile>
    <mat-grid-tile [style.border]="'3px inset'" [style.borderRadius]="'16px'">
  
      <img class="imagen" src="../../../assets/imagenes/Tic_tac_toe.svg">
  
      <mat-grid-tile-header [style.background]="'white'">
        <h1 class="mat-display-0" style="font-weight: 900; text-align: center; color: white">TA-TE-TI</h1>
      </mat-grid-tile-header>
  
      <mat-grid-tile-footer [style.background]="'white'">
        <button color="accent"(click)="Juego('Tateti')" class="btn-jugar" mat-raised-button>JUGAR</button>
      </mat-grid-tile-footer>
  
    </mat-grid-tile>
    <mat-grid-tile [style.border]="'3px inset'" [style.borderRadius]="'16px'">
  
      <img class="imagen" src="../../../assets/imagenes/memotest.jpg">
  
      <mat-grid-tile-header [style.background]="'white'">
        <h1 class="mat-display-0" style="font-weight: 900; text-align: center; color: white">MEMOTEST</h1>
      </mat-grid-tile-header>
  
      <mat-grid-tile-footer [style.background]="'white'">
        <button color="accent"(click)="Juego('Memotest')" class="btn-jugar" mat-raised-button>JUGAR</button>
      </mat-grid-tile-footer>
  
    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>

    <mat-grid-tile [style.border]="'3px inset'" [style.borderRadius]="'16px'">
  
      <img class="imagen" src="../../../assets/imagenes/snake.png">
  
      <mat-grid-tile-header [style.background]="'white'">
      <h1 class="mat-display-0" style="font-weight: 900; text-align: center; color: white">SNAKE</h1>
      </mat-grid-tile-header>
  
      <mat-grid-tile-footer [style.background]="'white'">
        <button color="accent"color="accent" (click)="Juego('Memotest')" class="btn-jugar" mat-raised-button>JUGAR</button>
      </mat-grid-tile-footer>
  
    </mat-grid-tile>
  </mat-grid-list>
  
