<!-- <div class="container" >
    <div class="card">
      <img class="img-thumbnail"   src="../../../assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
      <h1>Velocidad y agilidad aritmética </h1>
      <p class="title">Juego de agilidad mental</p>
      <p>UTN FRA </p>
  
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>
    
    </div>
  
    <div class="card">
      <img class="img-thumbnail" src="../../../assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%">
      <h1>Piedra Papel o Tijera</h1>
      <p class="title">Juega contra la máquina</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('PPT')">Jugar</button></p>
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="../../../assets/imagenes/adivina.png" alt="Avatar" style="width:100%">
      <h1>Adivina el número secreto</h1>
      <p class="title">Juega de estrategia</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>
  </div> -->


  <mat-grid-list cols="3" rowHeight="3:2" gutterSize="5vh">
    <mat-grid-tile [style.border]="'3px inset'" [style.borderRadius]="'16px'">
  
      <img class="imagen" src="../../../assets/imagenes/adivina.png">
  
      <mat-grid-tile-header [style.background]="'white'">
        ADIVINA EL NÚMERO
      </mat-grid-tile-header>
  
      <mat-grid-tile-footer [style.background]="'white'">
        <button class="btn-jugar" mat-raised-button>JUGAR</button>
      </mat-grid-tile-footer>
  
    </mat-grid-tile>
    <mat-grid-tile [style.border]="'3px inset'" [style.borderRadius]="'16px'">
  
      <img class="imagen" src="../../../assets/imagenes/cerebro.jpg">
  
      <mat-grid-tile-header [style.background]="'white'">
        JUEGO DE AGILIDAD MENTAL
      </mat-grid-tile-header>
  
      <mat-grid-tile-footer [style.background]="'white'">
        <button class="btn-jugar" mat-raised-button>JUGAR</button>
      </mat-grid-tile-footer>
  
    </mat-grid-tile>
    <mat-grid-tile [style.border]="'3px inset'" [style.borderRadius]="'16px'">
  
      <img class="imagen" src="../../../assets/imagenes/ppt.jpg">
  
      <mat-grid-tile-header [style.background]="'white'">
        PIEDRA PAPEL O TIJERA
      </mat-grid-tile-header>
  
      <mat-grid-tile-footer [style.background]="'white'">
        <button class="btn-jugar" mat-raised-button>JUGAR</button>
      </mat-grid-tile-footer>
  
    </mat-grid-tile>
    <mat-grid-tile [style.border]="'3px inset'" [style.borderRadius]="'16px'">
  
      <img class="imagen" src="../../../assets/imagenes/anagrama.jpg">
  
      <mat-grid-tile-header [style.background]="'white'">
        ANAGRAMA
      </mat-grid-tile-header>
  
      <mat-grid-tile-footer [style.background]="'white'">
        <button class="btn-jugar" mat-raised-button>JUGAR</button>
      </mat-grid-tile-footer>
  
    </mat-grid-tile>
    <mat-grid-tile [style.border]="'3px inset'" [style.borderRadius]="'16px'">
  
      <img class="imagen" src="../../../assets/imagenes/Tic_tac_toe.svg">
  
      <mat-grid-tile-header [style.background]="'white'">
        TA-TE-TI
      </mat-grid-tile-header>
  
      <mat-grid-tile-footer [style.background]="'white'">
        <button class="btn-jugar" mat-raised-button>JUGAR</button>
      </mat-grid-tile-footer>
  
    </mat-grid-tile>
    <mat-grid-tile [style.border]="'3px inset'" [style.borderRadius]="'16px'">
  
      <img class="imagen" src="../../../assets/imagenes/memotest.jpg">
  
      <mat-grid-tile-header [style.background]="'white'">
        MEMOTEST
      </mat-grid-tile-header>
  
      <mat-grid-tile-footer [style.background]="'white'">
        <button class="btn-jugar" mat-raised-button>JUGAR</button>
      </mat-grid-tile-footer>
  
    </mat-grid-tile>
  </mat-grid-list>
  
