.btn-submit{
    margin-top: 1vh;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

mat-form-field{
    width: 100%;
}

h1{
    text-align: center;
}

mat-card{
    width: 50%;
    margin-top: 5vh;
}

.container{
    display: flex;
    justify-content: center;
}

button{
    width: 100%;
}