<div class="container" >
  <mat-card>
    <mat-card-content>
      <div class="loading" *ngIf="cargando">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="!cargando">
        <form [formGroup]="loginForm">
          <mat-form-field class="full-width-input">
            <input type="text"
                   class="form-control"
                   formControlName="email"
                   matInput 
                   placeholder="Email"
                   required
            />
            <mat-error *ngIf="isNotValidField('email')">
              {{getErrorMessage('email')}}
            </mat-error>
          </mat-form-field>
        <mat-form-field class="full-width-input">
          <input type="text"
                 class="form-control"
                 formControlName="username"
                 matInput 
                 placeholder="Nombre de usuario"
                 required
          />
          <mat-error *ngIf="isNotValidField('username')">
            {{getErrorMessage('username')}}
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width-input separator">
          <input 
                 [type]="hide ? 'text' : 'password'"
                 class="form-control"
                 formControlName="password" 
                 matInput 
                 placeholder="Password"
                 required
          />
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{ "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="isNotValidField('password')">
            {{getErrorMessage('password')}}
          </mat-error>
        </mat-form-field>
      </form>
      <button [disabled]="loginForm.invalid" class="btn-submit" (click)="onRegistrar()" mat-raised-button color="primary">Registrar</button>
      </div> 
    </mat-card-content>
  </mat-card>
</div>