.main-container{
    background: linear-gradient(to right, #232526, #414345);
    margin-top: -20px;
    height: 93.4%;
}
/* 
.field{
    display: flex;
    justify-content: center;
} */

mat-card{
    width: 40%;
    background: linear-gradient(to right, #2c3133, #414345);
}

h1{
    padding-top: 10px;
}

mat-form-field{
    width: 85%;
}

input{
    text-align: center;
    font: 400 34px/40px Roboto, "Helvetica Neue", sans-serif;
    color: white;
}

button{
    width: 80%;
    padding: 10px 10px;
    font: 400 34px/40px Roboto, "Helvetica Neue", sans-serif;
}