<div class="main-container">
  <h1 class="mat-display-2" style="font-weight: 900; text-align: center; color: white">Adivina el número</h1>
  <div class="field">
    <mat-card>
      <br>
      <h1 class="mat-display-1" style="font-weight: 900; text-align: center; color: white">¿Cuál es el número?</h1>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <p class="mat-display-0" style="font-weight: 900; text-align: center; color: white">{{mensaje}}</p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="field">
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="numeroIngresado">
        </mat-form-field>
      </div>
      <br>
      <div class="field">
        <button *ngIf="!termino" [disabled]="deshabilitar" mat-raised-button color="primary" (click)="onJugar()">Jugar</button>
      </div>
      <div class="field">
        <button *ngIf="termino" mat-raised-button color="primary" (click)="onReiniciar()">Reiniciar</button>
      </div>
    </mat-card>
  </div>
</div>